<!DOCTYPE html>
<html lang="en" ng-app="app"></html>
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>tiktak</title>
  <!-- inject:css -->
  <link rel="stylesheet" href="lib/fontawesome/css/font-awesome.css">
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="assets/css/application.css">
  <!-- endinject -->
</head>
<body ng-controller="MainController">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>
            Tiktak
            <small>Tiktak project</small>
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div clock=""></div>
        <h2>Todo</h2>
        <div ng-cloak="">
          <span>{{ remaining() }} of {{ todos.length }} remaining</span>
          [
          <a href="" ng-click="archive()">archive</a>
          ]
          <ul class="list-unstyled">
            <li ng-repeat="todo in todos">
              <input ng-model="todo.done" type="checkbox">
              <span ng-class="{ 'done-true': todo.done }">{{ todo.text }}</span>
            </li>
          </ul>
          <form ng-submit="addTodo()">
            <input ng-model="todoText" placeholder="add new todo here" size="30" type="text">
            <input class="btn btn-primary" type="submit" value="add">
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- inject:js -->
  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="lib/underscore/underscore.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
  <!-- endinject -->
</body>
