!!!
%html{:lang => "en"}
%head
  %meta{:charset => "UTF-8"}
  %title tiktak
  %link{:rel => "stylesheet", :href => "asset/css/application.css"}
%body
  tiktak
  %script{:src => "asset/js/application.js", :type => "text/javascript"}
