!!!
%html{ "lang" => "en", "ng-app" => "app"}
%head
  %meta{ "charset" => "UTF-8"}
  %meta{ "http-equiv" => "X-UA-Compatible", "content" => "IE=edge"}
  %meta{ "name" => "viewport", "content" => "width=device-width, initial-scale=1.0" }
  %title tiktak

  / inject:css
  / endinject

%body{ "ng-controller" => "MainController"}
  .container
    .row
      .col-md-12
        .page-header
          %h1
            Tiktak

    .row
      .col-md-1
      .col-md-10
        %div{ "search" => "" }
      .col-md-1
    .row
      .col-md-12
        %div{ "clock" => "" }
        %div{ "ng-cloak" => "" }
          %span {{ remaining() }} of {{ todos.length }} remaining
          [
          %a{ "href" => "", "ng-click" => "archive()" } archive
          ]
          %ul.list-unstyled
            %li{ "ng-repeat" => "todo in todos"}
              %input{ "type" => "checkbox", "ng-model" => "todo.done" }
              %span{{ "ng-class" => "{ 'done-true': todo.done }" }} {{ todo.text }}
          %form{ "ng-submit" => "addTodo()" }
            %input{ "type" => "text", "ng-model" => "todoText", "size" => "30", "placeholder" => "add new todo here" }
            %input.btn.btn-primary{ "type" => "submit", "value" => "add"}

  / inject:js
  / endinject
