!!!
%html{:lang => "en"}
%head
  %meta{:charset => "UTF-8"}
  %title tiktak

  / inject:css
  / endinject
%body
  .container
    %h1 tiktak
    %p tiktak is tiktak. tikitiki, tikitiki.a
    .row
      .col-md-8
        %button.btn.btn-default{"type" => "button", "aria-label" => "Left Align"}
          %span.glyphicon.glyphicon-align-left{"aria-hidden" => "true"}
      .col-md-4
        bbb
        %i.fa.fa-bed

  / inject:js
  / endinject
